.change-password-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .form-control {
    border-radius: 6px;
    padding: 10px;
  }
  
  .btn-update {
    background-color: #f27144 !important;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .btn-update:hover {
    background-color: #2691bf !important;
  }
  
  .alert {
    font-size: 14px;
    padding: 8px;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .change-password-card {
        margin-top: 120px;
      padding: 15px;
    }
  }
  
  @media (max-width: 576px) {
    .change-password-card {
      width: 90%;
      padding: 15px;
    }
  
    .btn-update {
      width: 100%;
      font-size: 14px;
    }
  }
  