.student-container {
  margin-top: 4rem; 
}

.student-details {
  font-size: 1.1rem;
  line-height: 1.6;
}

.student-details h3 {
  margin-bottom: 1.5rem;
}

.student-image {
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}

